.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  white-space: normal; /* Permite saltos de línea si es necesario */
  min-width: 120px;
  max-width: 200px; /* Para que no se haga demasiado largo */
  background-color: rgba(30, 101, 255, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 9999; /* Asegura que se muestre sobre todo */
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Evita que bloquee el hover */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
